<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <!-- Content of nav.ejs -->
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et unde, non magnam dolor voluptatem iusto a corporis?
      Veritatis, et. Facere dolor laboriosam omnis eius, placeat sequi maiores veritatis error alias.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et unde, non magnam dolor voluptatem iusto a corporis?
      Veritatis, et. Facere dolor laboriosam omnis eius, placeat sequi maiores veritatis error alias.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et unde, non magnam dolor voluptatem iusto a corporis?
      Veritatis, et. Facere dolor laboriosam omnis eius, placeat sequi maiores veritatis error alias.</p>
  </div>
</body>

<%- include('./partials/footer.ejs') %>

</html>